<!DOCTYPE html>
<html>

<head>

<title>SecureIoT Shield</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
<body class="bg-dark text-light">

<div class="container text-center mt-5">

<h1 class="display-3 text-primary">

🛡 SecureIoT Shield

</h1>

<p class="lead">

Security Operations Center for IoT Devices

</p>

<hr>

<div class="row mt-5">

<div class="col">

<div class="card bg-black border-primary">

<div class="card-body">

<h3>Authentication</h3>

</div>

</div>

</div>

<div class="col">

<div class="card bg-black border-success">

<div class="card-body">

<h3>Monitoring</h3>

</div>

</div>

</div>

<div class="col">

<div class="card bg-black border-danger">

<div class="card-body">

<h3>Threat Detection</h3>

</div>

</div>

</div>

</div>

<br>

<a href="/login" class="btn btn-primary btn-lg">

Launch Dashboard

</a>

<a href="/register" class="btn btn-outline-light btn-lg">

Register

</a>

</div>

</body>
