<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>SecureIoT Shield</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">

</head>

<body>

<div class="landing-container">

<div class="landing-header">

<div class="logo">

<div class="landing-buttons">

<a href="/login" class="landing-btn">

<i class="fa-solid fa-right-to-bracket"></i> Login

</a>

<a href="/register" class="landing-btn secondary">

<i class="fa-solid fa-user-plus"></i> Create Account

</a>

</div>

<div class="landing-footer">

© 2026 SecureIoT Shield • Final Year Project

</div>

</div>

</body>

</html>
