<!DOCTYPE html>
<html>

<head>

<title>Login - SecureIoT Shield</title>

<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>

<div class="container">

<div class="card" style="max-width:450px;margin:70px auto;">

<h1 style="text-align:center;color:#8B5CF6;">
🛡 SecureIoT Shield
</h1>

<p style="text-align:center;color:#9CA3AF;margin-bottom:30px;">
Security Operations Center Login
</p>

{% with messages = get_flashed_messages() %}
{% if messages %}

{% for msg in messages %}

<p style="color:#EF4444;text-align:center;">
{{ msg }}
</p>

{% endfor %}

{% endif %}
{% endwith %}

<form method="POST">

<label>Email</label>

<input
type="email"
name="email"
placeholder="Enter Email"
required>

<label>Password</label>

<input
type="password"
name="password"
placeholder="Enter Password"
required>

<button
class="btn"
style="width:100%;margin-top:10px;">

Login

</button>

</form>

<hr style="margin:25px 0;">

<p style="text-align:center;color:#9CA3AF;">

Don't have an account?

</p>

<a
href="/register"
class="btn"
style="width:100%;display:block;text-align:center;">

Create New Account

</a>

<br>

<a
href="/"
style="display:block;text-align:center;">

⬅ Back to Home

</a>

</div>

</div>

</body>

</html>