<!DOCTYPE html>
<html>

<head>

<title>Security Logs</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='style.css') }}">

</head>

<body>

<div class="dashboard">

<!-- Sidebar -->

<div class="sidebar">

<h2>🛡 SecureIoT</h2>

<p>Security Operations Center</p>

<hr>

<a href="/dashboard">🏠 Dashboard</a>

<a href="/devices">📡 Devices</a>

<a href="/add_device">➕ Add Device</a>

<a href="/security_logs">📄 Security Logs</a>

<a href="/threat_detection">⚠ Threat Detection</a>

<br><br>

<a href="/logout" class="btn">Logout</a>

</div>

<!-- Main -->

<div class="main">

<h1>Security Logs</h1>

<p style="color:#9CA3AF;">
System activities recorded by SecureIoT Shield.
</p>

<br>

<div class="card">

<table>

<tr>

<th>ID</th>

<th>Event</th>

<th>Level</th>

</tr>

{% for log in logs %}

<tr>

<td>{{ log.id }}</td>

<td>{{ log.event }}</td>

<td>

{% if log.level=="INFO" %}

<span style="color:#22C55E;font-weight:bold;">
🟢 INFO
</span>

{% elif log.level=="WARNING" %}

<span style="color:#000000;background:#FACC15;padding:4px 10px;border-radius:6px;font-weight:bold;">
⚠ WARNING
</span>

{% else %}

<span style="color:#EF4444;font-weight:bold;">
🔴 ALERT
</span>

{% endif %}

</td>

</tr>

{% endfor %}

</table>

</div>

</div>

</div>

</body>

</html>