<!DOCTYPE html>
<html>

<head>

<title>Threat Detection</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='style.css') }}">

</head>

<body>

<div class="dashboard">

<!-- Sidebar -->

<div class="sidebar">

<h2>🛡 SecureIoT</h2>

<p>Security Operations Center</p>

<hr>

<a href="/dashboard">🏠 Dashboard</a>

<a href="/devices">📡 Devices</a>

<a href="/add_device">➕ Add Device</a>

<a href="/security_logs">📄 Security Logs</a>

<a href="/threat_detection">⚠ Threat Detection</a>

<br><br>

<a href="/logout" class="btn">Logout</a>

</div>

<!-- Main -->

<div class="main">

<h1>Threat Detection</h1>

<p style="color:#9CA3AF;">
AI-based monitoring for suspicious IoT device activity.
</p>

<br>

{% if threats %}

{% for threat in threats %}

<div class="card" style="margin-bottom:20px;border-left:6px solid #EF4444;">

<h2 style="color:#EF4444;">
🚨 Threat Detected
</h2>

<p style="margin-top:15px;font-size:18px;">
{{ threat }}
</p>

</div>

{% endfor %}

{% else %}

<div class="card" style="text-align:center;">

<h1 style="font-size:70px;">
🛡
</h1>

<h2 style="color:#22C55E;">
No Threats Detected
</h2>

<p style="color:#9CA3AF;">
All IoT devices are currently operating normally.
</p>

</div>

{% endif %}

</div>

</div>

</body>

</html>
